body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #004d99;
    padding: 1em;
    text-align: center;
}

header h1 {
    color: #ffffff;
    margin: 0;
}

main {
    padding: 2em;
    margin-bottom: 60px;
}

footer {
    background-color: #004d99;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.button {
    background-color: #005bb5;
    color: #ffffff;
    text-decoration: none;
    padding: 0.7em 1.4em;
    margin: 0.5em;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0073e6;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.section-box {
    background-color: #ffffff;
    border: 1px solid #004d99;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #005bb5;
    margin-bottom: 10px;
}

header .button {
    background-color: #005bb5;
    margin-top: 20px;
}

header .button:hover {
    background-color: #0073e6;
}
